@import "tailwindcss";

body {
  background-color: #000300;
}

/* Add this in your global CSS file (e.g., index.css) */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px; /* horizontal scrollbar height */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d2d2d; /* track color */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: gray; /* thumb color */
  border-radius: 4px;
  border: 2px solid #2d2d2d; /* optional padding around thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: lightgray; /* hover color */
}
